{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint",
    "prettier --config ./config/.prettierrc.json --write"
  ],
  "**/*.{css,scss,md,html,json}": [
    "prettier --config ./config/.prettierrc.json --write"
  ]
}
